    <div id="main">
      <section id="intro">
        <!-- <a href="#" class="logo"><img src="images/logo.jpg" alt="" /></a> -->
        <header>
          <center>
            <h2>My Requests</h2>
            <% if @requests.present? %>            
            <p>Below is a list of all your pending requests</p>
            <% else %>
            <br>
            <br>
            <h3>Create A Request and it'll show up below
            </h3>
            <% end %>
            <br>
            <p>
              <%= link_to 'Add A New Request', new_request_path, class: "button big" %>
            </p>
          </center>
        </header>
        <%= render 'requests/requests_feed' %>

      </section>
    </div>

