
    <div id="main">
        <section id="intro">
    <!-- <a href="#" class="logo"><img src="images/logo.jpg" alt="" /></a> -->
    <header>
      <center>
        <h2>My Trips</h2>
        <% if @requests.present? %>            
        <p>Your personal upcoming Requests</p>
        <% else %>
        <br>
        <br>
        <h3>You do not currently have any upcoming requests. <br>Create one and it'll show up below
        </h3>
        <% end %>
      </center>
    </header>

  </section>


<%= link_to 'Post A New Request', new_request_path %>

      <%= render 'requests/requests_feed' %>
    </div>

<br />

