/* CSS used here will be applied after bootstrap.css */

body{ 
  margin-top:100px;
}

.nav-tabs .glyphicon:not(.no-margin) {
 margin-right:10px; 
}
.tab-pane .list-group-item:first-child {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

.tab-pane .list-group-item:last-child {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.tab-pane .list-group .checkbox { 
  display: inline-block;margin: 0px; 
}

.tab-pane .list-group input[type="checkbox"]{ 
  margin-top: 2px; 
}

.tab-pane .list-group .glyphicon { 
  margin-right:5px; 
}

.tab-pane .list-group .glyphicon:hover { 
  color:#FFBC00; 
}

a.list-group-item.read { 
  color: #222;background-color: #F3F3F3; 
}

hr { 
  margin-top: 5px;
  margin-bottom: 10px; 
}

.nav-pills>li>a {
  padding: 5px 10px;
}

.ad { 
  padding: 5px;
  background: #F5F5F5;
  color: #222;
  font-size: 80%;
  border: 1px solid #E5E5E5; 
}

.ad a.title {
  color: #15C;
  text-decoration: none;
  font-weight: bold;
  font-size: 110%;
}

.ad a.url {
  color: #093;
  text-decoration: none;
}

.message_box {
  height: 100%
}

.scrollable {
  overflow:scroll;
}

.message_field{
  width: 75%;
}


  input[type="submit"],
  input[type="reset"],
  input[type="button"],
  .button {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    background-color: transparent;
    border-radius: 0.35em;
    border: solid 3px #efefef;
    color: #787878 !important;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    height: 3.15em;
    height: calc(2.75em + 6px);
    line-height: 2.75em;
    min-width: 10em;
    padding: 0 1.5em;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
  }


  /* MESSAGES */

#btn-chat {
  height: 32px;
  background-color: #eea236;
  color: white;
}

  .chat
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body
{
    margin-left: 60px;
}

.chat li.right .chat-body
{
    margin-right: 60px;
}


.chat li .chat-body p
{
    margin: 0;
    color: #777777;
}

.panel .slidedown .glyphicon, .chat .glyphicon
{
    margin-right: 5px;
}

.panel-body
{
    /*overflow-y: scroll;*/
    height: 30em;
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

