@import url("font-awesome.min.css");

/*Strip the ul of padding and list styling*/
.options_navbar ul {
  list-style-type:none;
  margin:0;
  padding:0;
  position: absolute;
}

/*Create a horizontal list with spacing*/
.options_navbar .filters {
  display:inline-block;
  margin-right: 1px;
}

/*Style for menu links*/
.options_navbar a {
  min-width:1000px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #fff;
  background: #2f3036;
  text-decoration: none;
}



/*Style 'show menu' label button and hide it by default*/
.options_navbar .show_filters {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-decoration: none;
  color: #fff;
  background: #19c589;
  text-align: center;
  padding: 10px 0;
}


.filter {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-decoration: none;
  color: #fff;
  background: #324233;
  text-align: center;
  padding: 10px 0;
}


/*Responsive Styles*/

@media screen and (max-width : 760px){
  /*Make dropdown links appear inline*/
  .options_navbar ul {
    position: static;
    display: none;
  }
  /*Create vertical spacing*/
  .options_navbar li {
    margin-bottom: 1px;
  }
  /*Make all menu links full width*/
  .options_navbar ul li, li a {
    width: 100%;
  }
}